@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.section-about {
  position: relative;
  margin-bottom: 10%;
}

#text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(0%, -50%);
  text-align: center;
  color: #916517;
}

#photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon-link {
  color: #fff;
}

.about-buttom {
  color: #916517;
}

.carousel {
  margin-bottom: 10%;
}

.product-card {
  flex: 1;
  margin: 10px;
}

.carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #f0d7c8; 
  }

  .carousel-control-prev span,
  .carousel-control-next span {
    color: #f0d7c8; 
  }

.icon-footer {
  margin-right: 15px;
}

@media (max-width: 785px) {

  #text {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    margin: 2%;
  }

  .carousel-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .carousel-item .card {
    width: 48%; 
    margin-bottom: 1%; 
  }
}

@media (max-width: 439px) {
  .carousel-inner {
    display: flex;
    padding: 0 20px; 
  }

  .card.product-card {
    width: calc(100% - 40px); 
    margin: 0 10px; 
  }

  .carousel-control-prev,
  .carousel-control-next {
    margin-left: 20px; 
    margin-right: 20px; 
  }
}
